<footer class="site-footer">

    <div class="wrapper">


        <!-- disquss -->


        <!-- disquss -->

        <!-- Google Analitics -->

        <!-- Google Analitics -->

        <h2 class="footer-heading" align="center">{{ site.title }} ||
            <a href="https://javadev.org">javadev.org</a>
        </h2>
        <p align="center">Opensource project with codes on
            <a href="https://bitbucket.org/jsdev-org/jsdev.org" rel="nofollow">bitbucket</a>.
        </p>
    </div>

</footer>